<div class="min-h-screen flex flex-col">
  <header
    class="h-12 bg-indigo-700 text-xl text-white flex justify-between items-center px-4"
  >
    <span>Threads</span>
    <nav>
      <ul class="flex gap-4">
        <li
          class="opacity-70"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/" class="hover:bg-indigo-600 p-2">Home</a>
        </li>
        <li
          class="opacity-70"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/login" class="hover:bg-indigo-600 p-2">{{
            user === null ? "Login" : "Logout"
          }}</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
